nav.navbar.navbar-expand-md.fixed-top
  .container
    a(href="#").navbar-brand  
      img.img-fluid(src="https://i.imgur.com/pgZ1GT5.png", alt="")

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
      i.fas.fa-ellipsis-h
      
    .collapse.navbar-collapse#collapsibleNavbar
      ul.navbar-nav.ml-auto
        li.nav-item
          a(href="#").nav-link Before 2017
        li.nav-item
          a(href="#").nav-link After 2017
       

header#theme
  img.background(src="https://i.imgur.com/tQELnAb.jpg", alt="")
  .container         
    .row
      .top.col-md-7.col-xs-12
        .decor-bgc
        .topic.jumbotron      
          h3.topic-en 2018 Taiwan Blockchain Industry Report
          h1.topic-tw 區塊鏈產業<span class="small-text">@</span> 台灣</br>年度總結 
            .highlight
            
          #mc_embed_signup
            form#mc-embedded-subscribe-form.validate(action="https://betweengos.us17.list-manage.com/subscribe/post?u=8fcf80325311ec6b3b39a72a7&amp;id=7f94a8750c" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)

              #mc_embed_signup_scroll
                input#mce-EMAIL.email(type="email" value="" name="EMAIL" placeholder="email address" required)

              .div(style="position: absolute; left: -5000px;" aria-hidden="true")
                input(type="text" name="b_8fcf80325311ec6b3b39a72a7_7f94a8750c" tabindex="-1" value="")

              .clear
                input#mc-embedded-subscribe.button(type="submit" value="Submit" name="subscribe")
    .map
      img(src="https://i.imgur.com/uw1DYVB.png", alt="").taiwan  
                    
  img.bear(src="https://i.imgur.com/yB4z7cB.png", alt="")
  img.bull(src="https://i.imgur.com/yzDaOhG.png", alt="")
  img.wave(src="https://i.imgur.com/fkJG4eb.png", alt="")
  img(src="https://i.imgur.com/0HnX1Io.png", alt="").arrow-down
  
        
section#introduction
  .container
    .row
      .headline.col-md-7
        h2 Contributors before 2017
          .order 01
          .cube
        .description
          hr
          p 2008比特幣白皮書誕生到10年後的今日，當初單純的點對點電子現金系統不斷啟發著後人的創造力，從懷疑到相信，許多人著手加入這個充斥著風險與機遇的產業。區塊鏈產業還在襁褓時期，當全世界都不斷在探索這個領域的極限時，台灣並沒有缺席。
          p 這股風潮在2017年開始席捲全球之前，一批在台灣的拓荒者已經開始相信區塊鏈技術以及加密貨幣所帶來的價值，加入這個當時堪稱「邊緣」的產業，披荊斬棘、默默耕耘，為這塊土地的創新發展揭開了第一道光芒。
          p 《動區動趨BlockTempo》獨家邀請這些產業先驅分享他們的觀點，讓這股堅持創新的精神能夠在台灣持續傳承，來看看從0奔向1的過程，為區塊鏈產業貢獻至今的耕耘者有誰？
          
#fixed-laptop
  .follow FOLLOW US.
  .socials
    a(href="#")
      .coat
        i.fab.fa-facebook-f
    a(href="#")
      .coat
        i.fab.fa-line
    a(href="#")
      .coat
        i.fab.fa-youtube
    a(href="#")
      .coat
        i.fab.fa-instagram
        
#back-to-top
  .top BACK TO TOP
  a(href="#")
    .coat
      i.fas.fa-arrow-up

       
section#contributors
  .container
    .row
      .roww-1.col-md-10.col-xs-12
        h2.heading-en Meet The Industrial Contributors before 2017
        h4.heading-tw 貢獻者- 企業
      
    .row.roww-2
      .col-md-4.col-sm-6.col-xs-12
        .flip-container.card.card1(ontouchstart="this.classList.toggle('hover');") 
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag 
              .card-bottom
                span.name Alex Liu
                span.brand Maicoin/MAX, CEO
            .back
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                button(type='button' data-toggle='modal', data-target='#maicoin').btn.btn2 公司簡介
      .col-md-4.col-sm-6.col-xs-12
        .flip-container.card.card2(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name Titan Chen
                span.brand 幣托 BitoEX/BitoPro, CEO
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#")
                  button( role="button").btn.btn1 閱讀文章
                button(type='button' data-toggle='modal', data-target='#bitoex').btn.btn2 公司簡介
      .col-md-4.col-sm-6.col-xs-12
        .flip-container.card.card3(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name Thomas Hu
                span.brand 源鉑資本 Kyber Capital, CEO
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#")
                  button( role="button").btn.btn1 閱讀文章
                button(type='button' data-toggle='modal', data-target='#kyber').btn.btn2 公司簡介
    .row.roww-3
      .col-md-4.col-sm-6.col-xs-12
        .flip-container.card.card4(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name Michael Ou
                span.brand 酷幣科技 CoolbitX, CEO
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#")
                  button( role="button").btn.btn1 閱讀文章
                button(type='button' data-toggle='modal', data-target='#coolbitx').btn.btn2 公司簡介
      .col-md-4.col-sm-6.col-xs-12
        .flip-container.card.card5(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name Darren Wang
                span.brand 奧丁丁 Dwlting, CEO
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#")
                  button( role="button").btn.btn1 閱讀文章
                button(type='button' data-toggle='modal', data-target='#dwlting').btn.btn2 公司簡介
      .col-md-4.col-sm-6.col-xs-12
        .flip-container.card.card6(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                .action
                  span.name Tom Soong
                  span.brand Joyso, CEO
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#")
                  button( role="button").btn.btn1 閱讀文章
                button(type='button' data-toggle='modal', data-target='#joyso').btn.btn2 公司簡介
    .row.roww-4
      .col-md-4.col-sm-6.col-xs-12
        .flip-container.card.card7(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name Sean Moss-Pultz
                span.brand Bitmark, CEO
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#")
                  button( role="button").btn.btn1 閱讀文章
                button(type='button' data-toggle='modal', data-target='#bitmark').btn.btn2 公司簡介
      .col-md-4.col-sm-6.col-xs-12
        .flip-container.card.card8(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name 胡晉豪 
                span.brand Wagecan, Founder
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#")
                  button( role="button").btn.btn1 閱讀文章
                button(type='button' data-toggle='modal', data-target='#wagecan').btn.btn2 公司簡介
      .col-md-4.col-sm-6.col-xs-12
        .flip-container.card.card9(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name 李亞鑫
                span.brand DTCO, Founder
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#")
                  button( role="button").btn.btn1 閱讀文章
                button(type='button' data-toggle='modal', data-target='#dtco').btn.btn2 公司簡介
    .row.roww-5
      .col-md-4.col-sm-6.col-xs-12 
        .flip-container.card.card10(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name 李美宜
                span.brand 度度客
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#")
                  button( role="button").btn.btn1 閱讀文章
                button(type='button' data-toggle='modal', data-target='#duduker').btn.btn2 公司簡介
              
      .col-md-4.col-sm-6.col-xs-12 
        .flip-container.card.card11(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name 李美宜
                span.brand 度度客
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#" role="button").btn.btn1 閱讀文章
                a(href="#" role="button").btn.btn2 公司簡介
              
      .col-md-4.col-sm-6.col-xs-12 
        .flip-container.card.card12(ontouchstart="this.classList.toggle('hover');")
          .flipper
            .front
              .card-top
                .logo
                img(src="http://cryptoshiba168.com/wp-content/uploads/2018/12/article@2x.png", alt="").tag
              .card-bottom
                span.name 李美宜
                span.brand 度度客
            .back
              a(href="#")
                h4.title 源鉑資本投資、台灣醫療物聯網新創美爾敦
              p.desc 全球醫療支出逐年增加、人口老年化等長期趨勢，令智慧醫療發展成為二十一世紀的顯學。如何憑藉物聯網科技改善醫療機構效益、提升優質醫療服務
              .action
                a(href="#" role="button").btn.btn1 閱讀文章
                a(href="#" role="button").btn.btn2 公司簡介
                
               
section#community
  img.background(src="https://i.imgur.com/qDaSsuw.jpg", alt="")
  .container
    .row
      .roww-1.col-md-10
        h2.heading-en Community Contributors 
        h4.heading-tw 貢獻者- 社群&學者
    .row
      .b_card.b_card1.col-md-4.col-sm-6.col-xs-12
        .b_card_top
        .b_card_bottom
          .point Taipei Ethereum Meetup
          .name 梁志程 Founder
        .action
          a(href="#")
            button( role="button").btn.btn1 閱讀文章
          button(type='button' data-toggle='modal', data-target='#liang').btn.btn2 簡介
      
      .b_card.b_card2.col-md-4.col-sm-6.col-xs-12
        .b_card_top
        .b_card_bottom
          .point Taipei Ethereum Meetup
          .name 陳昶吾 Analyst
          
        .action
          a(href="#")
            button( role="button").btn.btn1 閱讀文章
          button(type='button' data-toggle='modal', data-target='#woo').btn.btn2 簡介
          
      .b_card.b_card3.col-md-4.col-sm-6.col-xs-12
        .b_card_top
        .b_card_bottom
          .point Bitcoin  Supporter
          .name 陳伯韋
        .action
          a(href="#")
            button( role="button").btn.btn1 閱讀文章
          button(type='button' data-toggle='modal', data-target='#wei').btn.btn2 簡介
            
    .row
      .b_card.b_card4.col-md-4.col-sm-6.col-xs-12
        .b_card_top        
        .b_card_bottom
          .point GPU Mine Head
          .name 朱昱翰
        .action
          a(href="#")
            button( role="button").btn.btn1 閱讀文章
          button(type='button' data-toggle='modal', data-target='#han').btn.btn2 簡介
          
      .b_card.b_card5.col-md-4.col-sm-6.col-xs-12
        .b_card_top        
        .b_card_bottom
          .point Bitcoin  Supporter
          .name 楊哲豪          
        .action
          a(href="#")
            button( role="button").btn.btn1 閱讀文章
          button(type='button' data-toggle='modal', data-target='#how').btn.btn2 簡介
          
          
#app
  #industry-map
     .headline.headline2.col-md-7      
        h2 台灣區塊鏈產業應用分類地圖
          .order 02
          .cube
        ul
          li 分為七個類別，類別內的企業/組織按照成立、加入時間排列
          
          li 附有每間公司的簡介建檔，點擊該公司查看。
         
  
  section#statup_frame
    .container
      .row        
        .content
          h5.cat 新創
          .startup(v-for="startup in startups" data-toggle='modal', data-target='#{{startup.id}}') 
            .img-border
              img.logo(src="{{startup.img}}")
            .infos
              h5.name {{startup.name}}
              p.desc {{startup.description.substring(0,20)}}
     
  #exchange_frame
    .container
      .row
        .col-md-9
          .content.content1   
            h5.cat 交易平台
            .exchange(v-for="exchange in exchanges" data-toggle='modal', data-target='#{{exchange.id}}') 
              .img-border
                img.logo(src="{{exchange.img}}")
              .infos
                h5.name {{exchange.name}}
                p.desc {{exchange.description.substring(0,20)}}
                
        .col-md-3.ml-md-auto.content2              
          h5.cat 對沖基金與風投      
          .vc(v-for="vc in vcs" data-toggle='modal', data-target='#{{vc.id}}') 
            .img-border
              img.logo(src="{{vc.img}}")
            .infos
              h5.name {{vc.name}}
              p.desc {{vc.description.substring(0,20)}}
              

  #oldschool_frame
    .container
      .row        
        .content
          h5.cat 既有產業
          .oldschool(v-for="oldschool in oldschools" data-toggle='modal', data-target='#{{oldschool.id}}') 
            .img-border
              img.logo(src="{{oldschool.img}}")
            .infos
              h5.name {{oldschool.name}}
              p.desc {{oldschool.description.substring(0,20)}}
              
  #group_frame
    .container
      .row 
        .col-md-6
          .content.content1
            h5.cat  社群
            .group(v-for="group in groups" data-toggle='modal', data-target='#{{group.id}}') 
              .img-border
                img.logo(src="{{group.img}}")
              .infos
                h5.name {{group.name}}
                p.desc {{group.description.substring(0,20)}}
        
        .col-md-auto.col-sm-6.col-xs-12
          .content2
            h5.cat 加速器      
            .acce(v-for="acce in acces" data-toggle='modal', data-target='#{{acce.id}}') 
              .img-border
                img.logo(src="{{acce.img}}")
              .infos
                h5.name {{acce.name}}
                p.desc {{acce.description.substring(0,20)}} 
        .col-md-auto.col-sm-6.col-xs-12
          .content3
            h5.cat 政府      
            .gov(v-for="gov in govs" data-toggle='modal', data-target='#{{gov.id}}') 
              .img-border
                img.logo(src="{{gov.img}}")
              .infos
                h5.name {{gov.name}} 
                p.desc {{gov.description.substring(0,20)}} 
                
  //- Modal
  .modal.fade.amodal(v-for="amodal in amodals", id="{{amodal.id}}", tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title 
            a(href="#" data-dismiss='modal', aria-label='Close') < 公司簡介              
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
               
        .modal-body 
          .container-fluid
            .row.modal-row-1
              .col-md-5.col-xs-5.modal-logo
                img(src="{{amodal.logo}}", alt="")
              .col-md-4.col-xs-4.modal-intro
                h4.company-name {{amodal.co_name}}
                span.slogan {{amodal.slogan}}
                  
            .row
              .col-md-12.col-sm-12
                hr
                
            .row
              .col-md-12.col-xs-12.modal-row-2
                .row.col-md-4.col-xs-4.num
                  .data.data1 {{amodal.attribute}}
                  .tag 性質
                .row.col-md-4.col-xs-4.num
                  .data.data2 {{amodal.time}}
                  .tag 成立時間 
                .row.col-md-4.col-xs-4.num
                  .data.data3 {{amodal.unknown}}
                  .tag 資本額
                    
            .row.modal-row-3
              .about.col-md-12.col-xs-12
                .title 關於
                .desc {{amodal.about}}
                  
            .row
              .col-md-12.col-xs-12
                hr
                
            .row
              .col-md-12.col-xs-12.modal-row-4
                .col-md-4.col-xs-4
                  img.leader(src="{{amodal.ceo_img}}", alt="")
                    
                .col-md-4.col-xs-4
                   span CEO:
                   .name {{amodal.ceo_name}}
                .col-md-4.col-xs-4
                   span 個人經理：
                   .experience {{amodal.ceo_ex}}
                     
            .row
              .col-md-12.col-xs-12      
                a(href="#")
                  .website 官網連結 ＞
            
        .modal-footer
          //- button.btn.btn-secondary(type='button', data-dismiss='modal') 
          
          
  //- Modal2          
  .modal.fade.bmodal(v-for="bmodal in bmodals", id="{{bmodal.id}}", tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title 
            a(href="#" data-dismiss='modal', aria-label='Close') < 簡介              
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
               
        .modal-body 
          .container-fluid
            .row.modal-row-1
              .col-md-5.col-xs-5.modal-logo
                img(src="{{bmodal.logo}}", alt="")
              .col-md-4.col-xs-4.modal-intro
                h4.company-name {{bmodal.name}}
                span.slogan {{bmodal.desc}}
                  
            .row
              .col-md-12.col-sm-12
                hr
                    
            .row.modal-row-3
              .about.col-md-12.col-xs-12
                .title 關於
                .desc {{bmodal.about}}
                  
            .row
              .col-md-12.col-xs-12
                hr               
                     
            .row
              .col-md-12.col-xs-12      
                a(href="#")
                  .website 文章連結 ＞
            
        .modal-footer 
        
  //- Modal3
  .modal.fade.cmodal(v-for="cmodal in cmodals", id="{{cmodal.id}}", tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title 
            a(href="#" data-dismiss='modal', aria-label='Close') < 公司簡介              
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
               
        .modal-body 
          .container-fluid
            .row.modal-row-1
              .col-md-5.col-xs-5.modal-logo
                img(src="{{cmodal.logo}}", alt="")
              .col-md-4.col-xs-4.modal-intro
                h4.company-name {{cmodal.co_name}}
                span.slogan {{cmodal.slogan}}
                  
            .row
              .col-md-12.col-sm-12
                hr
                
            .row
              .col-md-12.col-xs-12.modal-row-2
                .row.col-md-4.col-xs-4.num
                  .data.data1 {{cmodal.attribute}}
                  .tag 性質
                .row.col-md-4.col-xs-4.num
                  .data.data2 {{cmodal.time}}
                  .tag 成立時間 
                .row.col-md-4.col-xs-4.num
                  .data.data3 {{cmodal.unknown}}
                  .tag 資本額
                    
            .row.modal-row-3
              .about.col-md-12.col-xs-12
                .title 關於
                .desc {{cmodal.about}}
                  
            .row
              .col-md-12.col-xs-12
                hr
                
            .row
              .col-md-12.col-xs-12.modal-row-4
                .col-md-4.col-xs-4
                  img.leader(src="{{cmodal.ceo_img}}", alt="")
                    
                .col-md-4.col-xs-4
                   span CEO:
                   .name {{cmodal.ceo_name}}
                .col-md-4.col-xs-4
                   span 個人經歷：
                   .experience {{cmodal.ceo_ex}}
                     
            .row
              .col-md-12.col-xs-12      
                a(href="#")
                  .website 官網連結 ＞
            
        .modal-footer
          
          
                
footer
  .container
    .row
      .blocktempo.col-md-4.col-xs-12
        img(src="https://i.imgur.com/pgZ1GT5.png", alt="").our-logo
        span 為您帶來最即時最全面</br>區塊鏈世界脈動剖析</br>之動感新聞站
        .share-btn-kit
          a(href="#")
            i.fab.fa-facebook-square
          a(href="#")
            i.fab.fa-line
          a(href="#")
            i.fab.fa-youtube
          a(href="#")
            i.fab.fa-instagram
          a(href="#")
            i.fas.fa-rss-square
          
      .category.col-md-4.col-xs-12
        .row
         h6.title 主題分類
        .row
          ul.left.col-xs-6         
            a(href="#")
              li 首頁
            a(href="")
              li 即時新聞
            a(href="#")
              li 技術
            a(href="#")
              li 加密貨幣市場
            a(href="#")
              li 區塊鏈商業應用

          ul.right.col-xs-6
            a(href="#")
              li 人物專訪
            a(href="#")
              li 獨立觀點
            a(href="#")
              li 數據報告
            a(href="#")
              li 法規
            a(href="#")
              li 新手教學
              
      .banner.col-md-4.col-xs-12
        h6.title 其他服務
        .bgc
          img.tv(src="https://i.imgur.com/VQt1SzJ.png", alt="")
        img.meet(src="https://i.imgur.com/zZRo2PL.png", alt="")
    .row.col-xs-12  
      hr
    .row
      .copyright.col-md-4.col-xs-12.ml-auto
        span.mr-auto Copyright © 2018 BlockTempo.
        
        
  
        
        
        

